/* STYLE RESETS */
*{
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
    
}

header {
    text-align: center;
    
    background-image: linear-gradient(to right, rgb(54, 140, 194), rgb(4, 4, 71));
}

h1 {
    font-size: 40px;
    color: white;
    padding: 20px 0;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

.current-day {
    border: 2px solid black;;
}

.icon-large {
    height: 80px;
    width: 80px;
}

.icon-small {
    height: 70px;
    width: 70px;
}

.location-input {
    border: black 1px solid;
    padding: 2px 4px;
    width: 90%;
    /* width: 30pt; */
    /* width:max-content; */
}

.search-btn {
    color: white;
    background-color: rgb(106, 201, 230);
    width: 100%;
}